html {
    background-color: maroon;
    color: white;
    font-family: fantasy;
    margin-right: 20px;
    margin-left: 20px;
    box-sizing: border-box;
}

body {
    display:flex;
    flex-direction: column;
}
 

header {
    text-align: center;
    height: 10%;
    font-size: 2em;
}

main {
    display: flex;
    flex-direction: column;
}

.hero-section {
    align-self: center;
    position: relative;
    z-index: -1;
}

img {
    border-radius: 10px;
    width: 100%;
    height:auto;
}

.request-menu {
     align-self: center;
}

.request-menu button  {
    background-color: green;
    color: white;
    padding: 8px;
    font-size: 16px;
    border-radius: 6px;
    border:none;
    margin-bottom: 40px;
    margin-top: 40px;
}

.order-section button {
    background-color: white;
    color: green;
    padding: 8px;
    font-size: 16px;
    border-radius: 6px;
    border:none;
    margin-bottom: 40px;
    margin-top: 40px;
    
}

.menu-section {
    display:flex;
    justify-content: space-evenly; 
}

.side-dishes, .main-dishes {
    text-align: center;
    background-color: wheat;
    margin: 10px;
    border-radius: 10px;
    color: black;
    width: 50%;
    font-size: 1.0em; 
}

ul {
      list-style-type: none;
}

.order-section {
    align-self: center;
    padding: 4px;
    
}

.bill-section {
    background-color: white;
    width: 100%;
    color: black;
}

@media only screen and (max-width: 700px) {

    .menu-section {
        flex-direction: column;
    }

    .side-dishes, .main-dishes {
        width: 90%;
    }    
}


